

#splash-bg {
    background-color: #F0493C;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    overflow: hidden;
}

#splash-top-half {
    transition: 1000ms ease-in-out;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-bottom: 50px;
    /* position: absolute; */
    /* top: 100px; */
    /* height: 45vh; */
    /* height: 50vh; */
    z-index: 1;
}

#splash-bottom-half {
    transition: 1000ms ease-in-out;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 45vh;
    /* align-self: baseline; */
    align-items: center;
    padding: 20px 0 50px 0;
    z-index: 1;
    gap: 40px;
}

#spinner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
}

#see-subiaco-logo {
    position: absolute;
    width: 118.5px;
    height: 42.48px;
    top: 50px;
    align-self: center;
    z-index: 10;
}

#main-logo {
    width: 285px;
    height: 151.4px;
    position: relative;
}

.p-main {
    color: #FAEFD5;
    text-align: center;
    font-family: 'Macaria';
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 106%; /* 25.44px */
    letter-spacing: -0.576px;
}

.link {
    color: #EF9CB6;
    cursor: pointer;
    text-decoration: underline  ;
}

/* MASKED TREE */
#masked-tree-mobile {
    transition: 1000ms ease-in-out;
    /* width: calc(100% + 20px); */
    width: 100%;
    height: 100%;
    /* height: 600px; */
    position: absolute;
    bottom: 30%;
    left: 0;
    z-index: 0;
    /* background-size: cover; */
    background-size: calc(100% + 5px) 100%;
    /* center */
    /* background-position: 57% 50%; */
    background-position: center;
}

#tree-desktop {
    position: absolute;
    z-index: 0;
    width: 100vw;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#bottom-tree {
    transition: 1000ms ease-in-out;
    background-color: #971741;
    width: 100vw;
    height: calc(100vh - 600px);
    position: absolute;
    /* top: 600px; */
    top: 70%;
    left: 0;
    z-index: 0;
    overflow: hidden;
}



/* SNOW FLAKE ANIMATION */
.snowflake {
    transition: 1000ms ease-in-out;
    animation: rotate 5s linear infinite;
  }
  
  @keyframes rotate {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }